//Hoja de estilos SCSS

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


//Tipografias
$font: 'Space Grotesk', sans-serif;


//Colores
$color1:#444444;
$color2:#202020;
$color3:#e9e5e5;
$color4:#1a1a1a;


//Bordes
$borde_abajo: solid $color3;
$borde: 10px solid;




* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} 


body{
    scroll-behavior: smooth;
    background-color: $color3;
    color: $color1;
    font-family: $font;
}


h1{
    margin: 10px;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}


h2{
    margin: 10px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}














                                                        /**Pagina Home**/
#home{
    border-bottom: $borde_abajo;
}

            //Seccion estas
//Boton si-no
.si-no{
    width: 35%;
    background: $color3;
    color: $color4;
    border-style: solid;
    font-family: $font;
    font-weight: bold;
}

#estas {
    text-align: center;
}
//Fin boton si-no
            //Fin seccion estas

p {
font-size: 15px;
}


            //Estas listo
#estas{
    background-image: url(../Imagenes/cohete\ 2.jpg);
    background-size: cover;
    height: 600px;
    margin-bottom: 0;
    border-radius: 0;
    text-shadow: 0 0 10px $color4;
    color: $color3;
}
            //Fin estas listo



            //Foto quienes somos
#team {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#team:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1.1s;
}
            //Fin foto quienes somos
                                                        /**Fin pagina Home**/



                                                        /**Pagina Contactanos**/
#contact{
border-bottom: $borde_abajo;
}

strong{
font-size: 20px;
}


#grillacontac{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    grid-template-areas:
    "formContac formContac"
    "cohetecontac   cohetecontac";

    grid-gap: 10px;
    padding: 10px;
}


.formContac{
    grid-area: formContac;
    grid-column: 1/4;
    width: 100%;
}


.cohetecontac{
    display: flex;
    grid-area: cohetecontac;
    grid-column: 1/4;
}
.coe1 {
    padding: 5px 5px;
    grid-area: coe1;
    grid-column: 1/2;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.coe2 {
    padding: 5px 5px;
    grid-area: coe2;
    grid-column: 2/3;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.coe3 {
    padding: 5px 5px;
    grid-area: coe3;
    grid-column: 3/4;
    width: 100%;
    height: 500px;
    object-fit: cover;
}




.textoContac{
    background-color: $color1;
    border: 1ex solid none;
    border-top-width: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
    color: $color1;
    outline: 7px solid $color1;
    height: 50px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    transition: all 1s;
    font-weight: bold;
}
.textoContac:hover {
    border-top-width: 0.2em;
    background-color: $color3;
}
.textoContac:focus {
    border-top-width: 0.2em;
    background-color: $color3;
}
                                                        /**Fin pagina Contactanos**/



                                                        /**Pagina Información**/
#info{
    border-bottom: $borde_abajo;
}



#grillainfo{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    grid-template-areas:
    "imagenesinfo imagenesinfo"
    "skills   skills";

    grid-gap: 10px;
    padding: 10px;
}



.imagenesinfo{
    grid-area: imagenesinfo;
    grid-column: 1/3;
    object-fit: cover;
}


.equipo, .galaxia, .equipo2{
    width: 100%;
    height: 500px;
}



.skills{
    grid-area: skills;
    margin-bottom: 20px;
    text-align: left;
    grid-column: 1/3;
}


.skill1{
    padding: 20px;
        img{
            margin-top: 5px;
            width: 80px;
            height: 50px;
        }
}




.skill2{
    padding: 20px;
        img{
            margin-top: 5px;
            width: 80px;
            height: 50px;
        }
}



.skill3{
    padding: 20px;
        img{
            margin-top: 5px;
            width: 80px;
            height: 50px;
        }
}



.skill4{
    padding: 20px;
        img{
            margin-top: 5px;
            width: 80px;
            height: 50px;
        }
}



.skill5{
    padding: 20px;
        img{
            margin-top: 5px;
            width: 80px;
            height: 50px;
        }
}



div.RedesSociales{
    text-align: center;
        h2{
            font-size: 40px;
            text-align: center;
        }
            img{
                margin: 20px;
                height: 300px;
                width: 400px;
                border-radius: 20px;
            }
            img:hover{
                height: 270px;
                width: 370px;
                transition: all 0.9s;
            }
}
                                                        /**Fin pagina Información**/



                                                        /**Pagina equipo**/
#equipo{
        border-bottom: $borde_abajo;
}

#facu img{
    width: 90%;
    height: 500px;
    object-fit: cover;
    padding-top: 20px;
}
.nright{
    h2{
        text-align: center;
    }
        p{
            text-align: left;
        }
        p::first-letter{
            font-size: 30px;
        }
}
.team1{
    border: 2px solid $color4;
    margin-top: 10px;
    margin-bottom: 10px;
}



.linkedin img{
    margin: 10px;
    width: 70px;
    height: 70px;
} 



#mica img{
    width: 90%;
    height: 500px;
    object-fit: cover;
    padding-top: 20px;
}
.team2{
    border: 2px solid $color4;
    margin-top: 10px;
    margin-bottom: 10px;
}
                                                        /**Fin pagina equipo**/



                                                        /**Pagina historia**/
#historia{
    border-bottom: $borde_abajo;
}

.historia{
    h1{
    font-family: $font;
    font-size: 50px;
    text-align: center;
    }
        p{
            font-family: $font;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
        p::first-letter {
            font-size: 20px;
        }
}



            //Fotos
#logostipos{
    display: flex;
    margin: 50px;
}
.logos {
    padding: 0px 0px 0px 25px;
    width: 280px;
    height: 140px;
}
.rectangulo {
    margin: auto;
    margin-bottom: 10px;
    width: 300px;
    height: 230px;
    border-color: $color4;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px 12px 12px 12px;
    text-align: left;
}
.texto1 {
    font-family: $font;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.texto2 {
    font-family: $font;
    font-weight: bold;
    padding-top: 10px;
    font-size: 15px;
    text-align: left;
}
            //Fin fotos

                                                        /**Fin pagina historia**/



                                                        /**Pagina servicios**/
#servi{
    border-bottom: $borde_abajo;
}

.a_que_planeta{
    h1{
    font-size: 40px;
    text-align: center;
    }
        p {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
}

.descuento {
    height: 40px;
    padding-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: $color1;
    color: $color3;
    border-color: $color4;
    border-width: 2px;
    border-style: solid;
    font-size: 15px;
    text-align: center;
}




    //Servicio JÚPITER
.forma {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 50px;
    width: 400px;
    height: 500px;
    background: $color3;
    color: #592512;
    border: $borde;
    text-align: center;
        p{
            margin-bottom: 20px;
        }
}

.nombre {
    margin: auto;
    font-weight: bold;
    color: #a64724;
    font-size: 20px;
    letter-spacing: 5px;
}

.precio {
    margin: auto;
    font-weight: bold;
    color: #592512;
    font-size: 25px;
    letter-spacing: 5px;
}

.texto {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    color: $color1;
    font-size: 15px;
}

#botonm{
    margin: auto;
}
    //Fin servicio JÚPITER 

    //Servicio SATURNO
.move{
    margin: auto;
}
.vendido{
    margin: auto;
    margin-bottom: -15px;
    padding: 5px;
    background: #1a1a1a;
    width: 80%;
    height: 40px;
    color: $color3;
    letter-spacing: 8px;
    font-size: 20px;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.forma2 {
    margin-top: 10px;
    margin-bottom: 100px;
    width: 400px;
    height: 500px;
    background: $color3;
    color: #d9bf8f;
    border: $borde;
    text-align: center;
        p{
            margin-bottom: 20px;
        }
}

.nombre2 {
    margin: auto;
    font-weight: bold;
    color: #bfab9f;
    font-size: 20px;
    letter-spacing: 5px;
}

.precio2 {
    margin: auto;
    font-weight: bold;
    color: #d9bf8f;
    font-size: 25px;
letter-spacing: 5px;
}

.texto2 {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    color: $color1;
    font-size: 15px;
}

#botonm2{
    margin: auto;
}
    //Fin servicio SATURNO


    //Servicio URANO
.forma3 {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 50px;
    width: 400px;
    height: 500px;
    background: $color3;
    color: #5ebaf2;
    border: $borde;
    text-align: center;
        p{
            margin-bottom: 20px;
        }
}

.nombre3 {
    margin: auto;
    font-weight: bold;
    color: #2c5f73;
    font-size: 20px;
    letter-spacing: 5px;
}

.precio3 {
    margin: auto;
    font-weight: bold;
    color: #5ebaf2;
    font-size: 25px;
    letter-spacing: 5px;
}

.texto3 {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    color: $color1;
    font-size: 15px;
}

#botonm3{
    margin: auto;
}
    //Fin servicio URANO
                                                        /**Fin pagina servicios**/



                                                        /**Pagina NO**/
h1 {
    font-size: 35px;
    text-align: center;
}


.comentarioNO{
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    &::first-letter{
        font-size: 25px;
    }
}

.textoNO{
    background-color: $color1;
    border: 1ex solid none;
    border-top-width: 170px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
    color: $color1;
    outline: 7px solid $color1;
    height: 200px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    transition: all 1s;
    font-weight: bold;
}
.textoNO:hover {
    border-top-width: 0.2em;
    background-color: $color3;
}
.textoNO:focus {
    border-top-width: 0.2em;
    background-color: $color3;
}


.botonNO .no{
    width: 100px;
    height: 50px;
    margin-top: 0;
    background-color: $color4;
    color: $color3;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
        :hover{
            background-color: $color1;
        }
}



    
.grangalaxia{
    img{
    height: 300px;
    width: 100%;
    padding: 5px;
    }
    img:hover{
        filter: grayscale(100%);
        cursor: cell;
        transform: scale(0.9);
        transition: 1.1s;
    }
} 
                                                        /**Fin pagina NO**/



                                                        /**!Voy a este planeta¡**/
h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.whatsapp{
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    &:hover{
        height: 390px;
        padding: 10px;
        opacity: 1;
        filter: contrast(120%);
        transition: all .7s;
    }
}


.imagenes{
    display: flex;
    width: 100%;
    height: 500px;
    img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    img:hover{
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
}
                                                        /**Fin !voy a este planeta¡**/



                                                        /**Blog**/
    #blog{
    border-bottom: $borde_abajo;
}


.title{
    h1{
    text-align: center;
    font-size: 24px;
    }
    h2{
    text-align: center;
    font-size: 18px;
    }
}



#grilla{
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "subidas podcast"
    "subidas podcast"
    "articulo1  articulo1"
    "articulo2  articulo2"
    "articulo3  articulo3";

    grid-gap: 20px;
    padding: 20px;
    text-align: center;
}

.borderblog{
    border: 3px solid black;
}



section#subidas{
    grid-area: subidas;
    padding: 5px;
    color: $color3;
    background-color: $color4;
}
.espacios{
    padding-top: 10px;
    padding-bottom: 20px;
}




section#podcast{
    grid-area: podcast;
    background-color: #412326;
}
.spot{
    width: 250px;
    height: 200px;
    object-fit: cover;
    &:hover {
        -webkit-transform: scale(0.9);
        transform: scale(1.1);
        filter: grayscale(100%);
        transition: 1.1s;
    }
}




section.articulo1{
    grid-area: articulo1;
    background-color: $color3;
}



section.articulo2{
    grid-area: articulo2;
    background-color: $color4;
    color: $color3;
}
.art2 input[type=submit]{
    margin-top: 30px;
    background-color: $color3;
    color: #1a1a1a;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
.art2 input[type=submit]:hover {
    background-color: $color1;
}



section.articulo3{
    grid-area: articulo3;
    background-color: $color3;
}


.articul{
    object-fit: cover;
    padding: 5px;
    height: 200px;
    width: 100%;
}

input[type=submit]{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: $color4;
    color: $color3;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
input[type=submit]:hover{
    background-color: $color1;
}
                                                        /**Fin blog**/



                                                        /**Leer_articulo**/
.seccion1{
    text-align: center;
    margin: 30px;
    &::first-letter{
        font-size: 40px;
    }
}


.fecha{
    text-align: left;
}


.fotoarticul{
    width: 100%;
    height: 300px;
    filter: grayscale(100%);
        &:hover{
            width: 99%;
            height: 290px;
            transition: all 0.6s;
            cursor: crosshair;
        }
}


.seccion2{
    text-align: center;
    margin: 30px;
    &::first-letter{
        font-size: 40px;
    }
}


article{
    margin-bottom: 200px;
}
                                                        /**Fin leer_articulo**/


































































                                                        /***Version Tablet***/
@media (max-width: 1049px) {
                                                        /**Pagina historia**/
#logostipos {
    display:block;
}
                                                        /**Fin pagina historia**/
}














                                                        /**Version Mobile**/
@media (max-width: 750px){
                                                        /**Pagina información**/
.RedesSociales img{
    display: block;
    margin: auto;
    padding: 10px;
    height: 200px;
    width: 400px;
}
                                                        /**Fin pagina información**/





                                                        /**Pagina contacto**/
.cohetecontac{
    display: block;
}

.coe1 {
    width: 100%;
    height: 250px;
}

.coe2 {
    width: 100%;
    height: 250px;
}

.coe3 {
    width: 100%;
    height: 250px;
}
                                                        /**Fin pagina contacto**/
}







@import "_menu";
@import"_pieDePagina";
@import "_progressBarra";