@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e9e5e5;
  background-image: linear-gradient(123deg, #e9e5e5 70%, #1a1a1a);
  color: #444444;
  font-family: "Space Grotesk", sans-serif;
}
body::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}
body::-webkit-scrollbar-thumb {
  background-color: #444444;
}

h1 {
  margin: 10px;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

h2 {
  margin: 10px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

#home {
  border-bottom: 3px solid #e9e5e5;
}

.si-no {
  width: 35%;
  background: #e9e5e5;
  color: #1a1a1a;
  border-style: solid;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
}

#estas {
  text-align: center;
}

p {
  font-size: 16px;
}

#estas {
  background-image: url(../Imagenes/coheteInicioMain.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  text-shadow: 0 0 10px #1a1a1a;
  color: #e9e5e5;
}

.quienesSomos {
  position: relative;
  width: 88%;
  height: 300px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.quienesSomos img:first-child {
  border-radius: 20px;
  box-shadow: 0 60px 60px -60px #000;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

.quienesSomos img:last-child {
  border-radius: 20px;
  position: absolute;
  width: 75%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(25%);
  transition: 0.3s ease;
  opacity: 0;
}

.quienesSomos:hover {
  transform: perspective(250px) rotatex(10deg) translateY(-5%) translateZ(0);
}

.quienesSomos::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 95%);
  opacity: 0;
  transition: all 0.3s ease;
}

.quienesSomos:hover::before {
  border-radius: 20px;
  opacity: 1;
}

.quienesSomos:hover img:last-child {
  width: 100%;
  opacity: 1;
  transform: translateY(-10%);
}

.marquee {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  overflow: hidden;
}

.marquee li img {
  width: 400px;
  margin: 5px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 40s linear infinite;
}

.marquee__item img {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-270%);
  }
}
#contact {
  border-bottom: 3px solid #e9e5e5;
}

strong {
  font-size: 20px;
}

#grillacontac {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "formContac formContac  formContac" "coe1   coe2    coe3";
  grid-gap: 10px;
  padding: 10px;
}

.formContac {
  grid-area: formContac;
  grid-column: 1/4;
  width: 98%;
  margin: 5px;
}

.coe1 {
  padding: 5px 5px;
  grid-area: coe1;
  grid-column: 1/2;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.coe2 {
  padding: 5px 5px;
  grid-area: coe2;
  grid-column: 2/3;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.coe3 {
  padding: 5px 5px;
  grid-area: coe3;
  grid-column: 3/4;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.textoContac {
  background-color: #444444;
  border: 1ex solid none;
  border-top-width: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
  color: #444444;
  outline: 7px solid #444444;
  height: 50px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  transition: all 1s;
  font-weight: bold;
}
.textoContac:hover {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}
.textoContac:focus {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}

#info {
  border-bottom: 3px solid #e9e5e5;
}

.imagenesInfo img {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 40px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px #1a1a1a;
  background-color: #fff;
  width: 100%;
}
.card img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card:hover {
  transform: translateY(-5%);
  transition: all 1s;
  box-shadow: 10px 10px 10px #1a1a1a;
}

.card-content {
  padding: 20px;
}
.card-content h2 {
  margin-top: 0;
}
.card-content p {
  margin-bottom: 0;
}

#equipo {
  border-bottom: 3px solid #e9e5e5;
}

.posicion {
  display: flex;
  justify-content: center;
  align-items: center;
}

#facu img {
  width: 70%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 20px;
  border-radius: 50px;
}
#facu img:hover {
  scale: 0.9;
  transition: all 0.9s;
}

.nright h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  font-size: 35px;
}
.nright h3 {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}
.nright p {
  text-align: left;
  font-size: 18px;
}
.nright p::first-letter {
  font-size: 25px;
}

.team1 {
  margin-top: 20px;
  margin-bottom: 100px;
}

#mica img {
  width: 70%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 20px;
  border-radius: 50px;
}
#mica img:hover {
  scale: 0.9;
  transition: all 0.9s;
}

.team2 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.linkedin img {
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.linkedin img:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.9s;
}
.linkedin img:active {
  scale: 1.2;
  transition: all 0.9s;
}

#historia {
  border-bottom: 3px solid #e9e5e5;
}

.historia h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;
  text-align: center;
}
.historia p {
  font-family: "Space Grotesk", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.historia p::first-letter {
  font-size: 20px;
}

#logostipos {
  display: flex;
  margin: 30px;
}

.logos {
  padding-left: 25px;
  padding-right: 5px;
  width: 280px;
  height: 140px;
}

.rectangulo {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  height: 225px;
  border-color: #1a1a1a;
  border-width: 1px;
  box-shadow: 0 4px 8px #202020;
  border-radius: 10px;
  text-align: left;
}
.rectangulo:hover {
  scale: 1.1;
  transition: all 1s;
}

.texto1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.texto2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 25px;
  font-size: 16px;
  text-align: left;
}

#servi {
  border-bottom: 3px solid #e9e5e5;
}

.a_que_planeta h1 {
  font-size: 40px;
  text-align: center;
}
.a_que_planeta p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.GRATIS {
  height: 40px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 50px;
  background: #202020;
  color: #e9e5e5;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 5px 10px #1a1a1a;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin: 0 auto;
}

.masVendido {
  width: 95%;
  transition: all 0.3s ease;
  text-transform: uppercase;
  background-color: #1a1a1a;
  color: #e9e5e5;
  box-shadow: 0 5px 10px #1a1a1a;
  border-radius: 10px;
}
.masVendido:hover {
  box-shadow: 0 20px 20px #1a1a1a;
}

.c-card {
  width: 400px;
  transition: all 0.3s ease;
  text-align: left;
  box-shadow: 0 6px 10px -5px #1a1a1a;
}
.c-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 20px -15px #1a1a1a;
}
.c-card__header {
  height: 100%;
}
.c-card__image {
  width: 100%;
}
.c-card__body {
  padding: 20px;
  background-color: #e9e5e5;
}
.c-card__title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.c-card__subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  padding: 0;
}
.c-card__intro {
  font-size: 16px;
  font-weight: bold;
}
.c-card__footer {
  background-color: #e9e5e5;
}

.c-card--center {
  text-align: center;
}

.notificacion {
  font-weight: 500;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
  background-color: #1a1a1a;
  color: #e9e5e5;
  box-shadow: 0 1px 10px #444444;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  animation: desvanecer 5s linear forwards;
}
.notificacion a {
  color: #e9e5e5;
  text-decoration: none;
}

@keyframes desvanecer {
  30% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}
h1 {
  font-size: 35px;
  text-align: center;
}

.comentarioNO {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
.comentarioNO::first-letter {
  font-size: 25px;
}

.textoNO {
  background-color: #444444;
  border: 1ex solid none;
  border-top-width: 170px;
  margin: 15px;
  padding: 0;
  color: #444444;
  outline: 7px solid #444444;
  height: 200px;
  width: 90%;
  font-size: 20px;
  text-align: left;
  transition: all 1s;
  font-weight: bold;
}

.textoNO:hover {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}

.textoNO:focus {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}

.gifNO {
  width: 100%;
  height: 400px;
}

h2 {
  font-size: 23px;
}

.efectoImgWhats {
  margin-top: -20px;
  width: 100%;
  height: 400px;
  --g:#0000 ,#000 .5deg 90deg,#0000 91deg;
  --m:
  conic-gradient(from 45deg ,var(--g)) 20px 0 no-repeat,
  conic-gradient(from 135deg,var(--g)) 0 20px no-repeat,
  conic-gradient(from 225deg,var(--g)) -20px 0 no-repeat,
  conic-gradient(from 315deg,var(--g)) 0 -20px no-repeat;
  -webkit-mask: var(--m);
  mask: var(--m);
  transition: 0.3s linear;
  filter: grayscale(0.5);
  cursor: pointer;
}
.efectoImgWhats:hover {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  filter: grayscale(0);
}
.efectoImgWhats:active {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  filter: grayscale(0);
}

.imagenes {
  display: flex;
  width: 100%;
  height: 500px;
}
.imagenes img {
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.imagenes img:active {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
.imagenes img:hover {
  cursor: crosshair;
  opacity: 1;
  filter: contrast(120%);
}

#blog {
  border-bottom: 3px solid #e9e5e5;
}

.title h1 {
  text-align: center;
  font-size: 30px;
}
.title h2 {
  text-align: center;
  font-size: 18px;
}

.containerBlog {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "subidas podcast" "subidas articulo1" "subidas articulo2" "subidas articulo3";
  grid-gap: 20px;
  margin: 20px;
}

.podcast {
  grid-area: podcast;
  text-align: center;
  width: 100%;
  padding: 10px;
  background: #e9e5e5;
  box-shadow: 0 4px 8px #202020;
  border-radius: 10px;
}
.podcast h3 {
  font-size: 30px;
  font-weight: bold;
}
.podcast p {
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
}
.podcast a {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: bold;
}

.spot {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.spot:hover {
  transform: scale(0.9);
  transition: all 1.2s;
}

.subidas {
  grid-area: subidas;
  text-align: center;
  padding: 10px;
  color: #e9e5e5;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px #202020;
  border-radius: 10px;
}
.subidas h3 {
  font-size: 30px;
  font-weight: bold;
}
.subidas p {
  padding: 20px;
}
.subidas a {
  color: #e9e5e5;
}

.articulo1 {
  grid-area: articulo1;
}

.articulo2 {
  grid-area: articulo2;
}

.articulo3 {
  grid-area: articulo3;
}

.blog-card {
  width: 100%;
  box-shadow: 0 4px 8px #202020;
  background: #e9e5e5;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0;
}
.blog-card .foto-blog img {
  width: 100%;
  height: 300px;
}
.blog-card .foto-blog img:hover {
  transform: scale(1.2) rotate(2deg);
  transition: all 2s;
}
.blog-card .descripcion {
  padding: 20px;
  background: #e9e5e5;
  position: relative;
}
.blog-card .descripcion h2 {
  line-height: 1;
  margin: 0;
  font-size: 30px;
}
.blog-card .texto-blog {
  position: relative;
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
}
.blog-card .texto-blog::first-letter {
  font-size: 30px;
}

.seccion1 {
  text-align: center;
  margin: 30px;
}
.seccion1 h1 {
  font-weight: bold;
}
.seccion1::first-letter {
  font-size: 40px;
}

.fecha {
  text-align: left;
}

.fotoarticul {
  width: 100%;
  height: 300px;
}

.seccion2 {
  text-align: center;
  margin: 30px;
}
.seccion2 h2 {
  font-weight: bold;
}
.seccion2::first-letter {
  font-size: 40px;
}

article {
  margin-bottom: 100px;
}

.containerServi {
  display: grid;
  display: flex;
  height: 800px;
  width: 100%;
  margin: 0;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "DesarrolloWeb GestionRRSS GoogleADS";
  overflow: hidden;
}

.seccionServi {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: flex 1s ease;
  filter: grayscale(100%);
}
.seccionServi:hover {
  flex: 2;
  filter: grayscale(0%);
}
.seccionServi h2 {
  padding: 20px;
  color: #e9e5e5;
  background-color: #1a1a1a;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
}
.seccionServi a {
  text-decoration: none;
}
.seccionServi a:active {
  scale: 0.8;
  transition: all 1s;
}

#DesarrolloWeb {
  grid-area: DesarrolloWeb;
  background-image: url(../Imagenes/DesarrolloWeb.jpg);
  width: 100%;
}

#GestionRRSS {
  grid-area: GestionRRSS;
  background-image: url(../Imagenes/GestionRRSS.jpg);
  width: 100%;
}

#GoogleADS {
  grid-area: GoogleADS;
  background-image: url(../Imagenes/GoogleADS.jpg);
  width: 100%;
}

#DesarrolloWeb1 {
  background-image: url(../Imagenes/GalaxiaSeyfert.jpg);
  background-size: cover;
  background-position: center;
}

#DesarrolloWeb2 {
  background-image: url(../Imagenes/GalaxiaStarburst.jpg);
  background-size: cover;
  background-position: center;
}

.galaxiaSeyfert {
  background-image: url(../Imagenes/GalaxiaSeyfert.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  border-radius: 0;
  color: #e9e5e5;
  font-weight: bold;
}
.galaxiaSeyfert h1 {
  padding-bottom: 20px;
}
.galaxiaSeyfert p {
  text-align: center;
}

.galaxiaSeyfertInfo1 {
  color: #1a1a1a;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template-areas: "tituloDW tituloDW tituloDW" "descripcionDW descripcionDW descripcionDW" "DW1 DW2 DW3" "DW4 DW4 DW4";
  grid-gap: 30px;
  margin: 20px;
}

.contenidoDW h3 {
  font-weight: bold;
}
.contenidoDW h3 img {
  height: 60px;
  width: 60px;
}

.tituloDW {
  grid-area: tituloDW;
  font-size: 40px;
  font-weight: bold;
}

.descripcionDW {
  grid-area: descripcionDW;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.DW1 {
  grid-area: DW1;
}

.DW2 {
  grid-area: DW2;
}

.DW3 {
  grid-area: DW3;
}

.DW4 {
  grid-area: DW4;
}

.galaxiaSeyfertInfo2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template-areas: "DW5 DW6 DW7";
  grid-gap: 30px;
  background-image: url(../Imagenes/GalaxiaSeyfert2.jpg);
  background-size: cover;
  background-position: center;
  color: #e9e5e5;
}

.DW5 {
  margin: 20px;
  text-align: center;
  grid-area: DW5;
  color: #e9e5e5;
}

.DW6 {
  margin: 20px;
  grid-area: DW6;
  color: #e9e5e5;
}

.DW7 {
  margin: 20px;
  grid-area: DW7;
  color: #e9e5e5;
}

.galaxiaSeyfertInfo3 {
  color: #1a1a1a;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template-areas: "DW8 DW9 DW9" "DW10 DW10 DW10";
  grid-gap: 30px;
  margin: 20px;
}

.contenidoDW h4 img {
  height: 60px;
  width: 60px;
}

.DW8 {
  grid-area: DW8;
}

.DW9 {
  grid-area: DW9;
}

.DW10 {
  grid-area: DW10;
  text-align: center;
  margin-bottom: 100px;
}

.galaxiaSeyfertInfo4 {
  color: #1a1a1a;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "tituloDW2 tituloDW2 tituloDW2" "DW11 DW12 DW13" "DW14 DW14 DW14";
  grid-gap: 30px;
  margin: 20px;
}

.tituloDW2 {
  grid-area: tituloDW2;
  font-size: 40px;
  font-weight: bold;
}

.DW11 {
  grid-area: DW11;
}

.DW12 {
  grid-area: DW12;
}

.DW13 {
  grid-area: DW13;
}

.DW14 {
  grid-area: DW14;
}

.galaxiaStarburst {
  background-image: url(../Imagenes/GalaxiaStarburst.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  border-radius: 0;
  color: #e9e5e5;
  font-weight: bold;
}
.galaxiaStarburst h1 {
  padding-bottom: 20px;
}
.galaxiaStarburst p {
  text-align: center;
}

.galaxiaStarburstInfo2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template-areas: "DW5 DW6 DW7" "DW15 DW16 DW16";
  grid-gap: 30px;
  background-image: url(../Imagenes/GalaxiaStarburst2.jpg);
  background-size: cover;
  background-position: center;
}

.DW5 {
  margin: 20px;
  text-align: center;
  grid-area: DW5;
  color: #e9e5e5;
}

.DW6 {
  margin: 20px;
  grid-area: DW6;
  color: #e9e5e5;
}

.DW7 {
  margin: 20px;
  grid-area: DW7;
  color: #e9e5e5;
}

.DW15 {
  margin: 20px;
  grid-area: DW15;
  color: #e9e5e5;
}

.DW16 {
  margin: 20px;
  grid-area: DW16;
  color: #e9e5e5;
}

@media (max-width: 790px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .c-card {
    width: 300px;
  }
  .coe1 {
    width: 100%;
    height: 250px;
  }
  .coe2 {
    width: 100%;
    height: 250px;
  }
  .coe3 {
    width: 100%;
    height: 250px;
  }
  .containerServi {
    display: grid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "DesarrolloWeb" "GestionRRSS" "GoogleADS";
  }
  .galaxiaSeyfertInfo1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "tituloDW" "descripcionDW" "DW1" "DW2" "DW3" "DW4";
  }
  .galaxiaSeyfertInfo2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "DW5" "DW6" "DW7";
  }
  .galaxiaStarburstInfo2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "DW5" "DW6" "DW7" "DW15" "DW16";
    grid-gap: 30px;
    background-image: url(../Imagenes/Galaxia\ Starburst2.jpg);
    background-size: cover;
    background-position: center;
    color: #e9e5e5;
  }
  .galaxiaSeyfertInfo4 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "tituloDW2" "DW11" "DW12" "DW13" "DW14";
  }
}
@media (max-width: 800px) {
  .galaxiaStarburstInfo2 {
    background-image: url(../Imagenes/GalaxiaStarburst2.jpg);
  }
}
@media (min-width: 450px) and (max-width: 750px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .c-card {
    width: 400px;
  }
  .skill {
    flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 600px) {
  .containerBlog {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "subidas" "podcast" "articulo1" "articulo2" "articulo3";
    grid-gap: 20px;
  }
  #estas {
    height: 400px;
  }
}
@media (max-width: 480px) {
  .skill {
    flex-basis: 100%;
  }
  .logos {
    padding-left: 15px;
    padding-right: 10px;
  }
  .galaxiaSeyfertInfo3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "DW8" "DW9" "DW10";
  }
  .DW10 {
    grid-area: DW10;
    width: 300px;
    text-align: left;
  }
}
.menuBar img {
  width: 30px;
  height: 30px;
}

.navbar-toggler {
  color: #1a1a1a;
  border-color: transparent;
  transition: all 2s;
}

.navbarColor {
  background-color: #1a1a1a;
}
.navbarColor:hover {
  background-image: linear-gradient(to right, #202020 51%, #1a1a1a 100%);
}
.navbarColor a {
  color: #e9e5e5;
}

#logo {
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#logo:active {
  scale: 0.9;
  transition: all 0.9s;
}

.barraNav {
  justify-content: end;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #1a1a1a;
}

.efecto:active {
  scale: 0.8;
  transition: all 0.8s;
}

.underline-linea::after {
  margin: auto;
  content: "";
  height: 3px;
  width: 0;
  background-color: #e9e5e5;
  display: block;
  transition: all 0.5s;
}

.underline-linea:hover::after {
  width: 80%;
}

.containerFooter {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "fotoFooter redesFooter serviciosFooter" "fotoFooter redesFooter serviciosFooter" "copyrightFooter copyrightFooter copyrightFooter";
  padding: 20px;
  background-color: #1a1a1a;
  color: #e9e5e5;
}

.fotoFooter {
  grid-area: fotoFooter;
  border-radius: 60px;
}

.puertoFooter {
  font-size: 20px;
  font-weight: 500;
}

.redesFooter {
  grid-area: redesFooter;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#tiktok img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}
#tiktok:hover {
  transform: scale(0.9);
  transition: 1.1s;
}

#ig img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}
#ig:hover {
  transform: scale(0.9);
  transition: 1.1s;
}

#fb img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#fb:hover {
  transform: scale(0.9);
  transition: 1.1s;
}

.serviciosFooter {
  grid-area: serviciosFooter;
  text-align: center;
}
.serviciosFooter h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.serviciosFooter h2::first-letter {
  font-size: 40px;
}
.serviciosFooter h2:hover {
  scale: 0.8;
  transition: all 0.8s;
}
.serviciosFooter h2:active {
  scale: 0.8;
  transition: all 0.8s;
}
.serviciosFooter a {
  color: #e9e5e5;
  text-decoration: none;
}
.serviciosFooter li {
  font-size: 16px;
  padding: 5px;
}

.copyrightFooter {
  grid-area: copyrightFooter;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 900px) {
  .containerFooter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "fotoFooter redesFooter" "fotoFooter redesFooter" "fotoFooter serviciosFooter" "copyrightFooter copyrightFooter";
    grid-gap: 40px;
    background-color: #1a1a1a;
    color: #e9e5e5;
  }
  .fotoFooter {
    grid-area: fotoFooter;
    padding-top: 0px;
    padding-left: 30px;
    border-radius: 90px;
  }
}
@media (max-width: 600px) {
  .containerFooter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "fotoFooter" "redesFooter" "serviciosFooter" "copyrightFooter";
    grid-gap: 40px;
    background-color: #1a1a1a;
    color: #e9e5e5;
  }
  .fotoFooter {
    grid-area: fotoFooter;
    padding-top: 0px;
    padding-left: 30px;
    border-radius: 90px;
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #444444;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #444444;
}

.progress-bar {
  height: 5px;
  background: #1a1a1a;
  width: 0%;
}

button[type=submit] {
  background-image: linear-gradient(to right, #1a1a1a 0%, #434343 51%, #1a1a1a 100%);
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #e9e5e5;
  box-shadow: 0 0 10px #1a1a1a;
  border-radius: 20px;
  border: 0;
}
button[type=submit]:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transition: all 0.9s;
}
button[type=submit]:active {
  scale: 0.8;
  transition: all 0.8s;
}

.up img {
  height: 42px;
  width: 30px;
  position: fixed;
  bottom: 50px;
  right: 20px;
}
.up :active {
  scale: 0.8;
  transition: all 0.2s;
}

.frasesMotivacionales {
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
}
.frasesMotivacionales::first-letter {
  font-size: 20px;
}/*# sourceMappingURL=estilos.css.map */