//Hoja de estilos SCSS

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


//Tipografias
$font: 'Space Grotesk', sans-serif;


//Colores
$color1:#444444;
$color2:#202020;
$color3:#e9e5e5;
$color4:#1a1a1a;


//Bordes
$borde_abajo: 3px solid $color3;
$borde: 10px solid;



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} 

html{
    scroll-behavior: smooth;
}

body{
    background-color: #e9e5e5;
    background-image: linear-gradient(123deg, #e9e5e5 70%, #1a1a1a);
    color: $color1;
    font-family: $font;
}


h1{
    margin: 10px;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}


h2{
    margin: 10px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}














                                                        //Pagina Home
#home{
    border-bottom: $borde_abajo;
}

            //Seccion estas
//Boton si-no
.si-no{
    width: 35%;
    background: $color3;
    color: $color4;
    border-style: solid;
    font-family: $font;
    font-weight: bold;
}

#estas {
    text-align: center;
}
//Fin boton si-no
            //Fin seccion estas

p {
font-size: 15px;
}


            //Estas listo
#estas{
    background-image: url(../Imagenes/cohete\ 2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-bottom: 0;
    border-radius: 0;
    text-shadow: 0 0 10px $color4;
    color: $color3;
}
            //Fin estas listo




            //Foto quienes somos
.quienesSomos{
    position: relative;
    width: 88%;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: all .3s ease;
}

.quienesSomos img:first-child{
    box-shadow: 0 60px 60px -60px #000;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.quienesSomos img:last-child{
    position: absolute;
    width: 74%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(25%);
    transition: .3s ease;
    opacity: 0;
}


.quienesSomos:hover{
    transform: perspective(250px) rotatex(10deg) translateY(-5%) translateZ(0);
}

.quienesSomos::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0,0,0,0.5) 50%, rgba(0,0,0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

.quienesSomos:hover::before{
    border-radius: 20px;
    opacity: 1;
}
.quienesSomos:hover img:last-child{
    width: 100%;
    opacity: 1;
    transform: translateY(10%);
}
            //Fin foto quienes somos



            //Efecto infinito
.marquee {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    overflow: hidden;
}

.marquee li img{
    width: 400px;
    margin: 5px;
    border-radius: 20px;
    object-fit: cover;
}


.marquee__content {
    display: flex;
    list-style: none;
    animation: scrolling 40s linear infinite;
}

.marquee__item img{
    flex-shrink: 0;
}

@keyframes scrolling {
    0% { transform: translateX(0)}

    100% { transform: translateX(-270%)}
}
            //Fin efecto infinito
                                                        //Fin pagina Home



                                                        //Pagina Contactanos
#contact{
border-bottom: $borde_abajo;
}

strong{
font-size: 20px;
}


#grillacontac{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;

    grid-template-areas:
    "formContac formContac  formContac"
    "coe1   coe2    coe3";

    grid-gap: 10px;
    padding: 10px;
}


.formContac{
    grid-area: formContac;
    grid-column: 1/4;
    width: 100%;
}



.coe1 {
    padding: 5px 5px;
    grid-area: coe1;
    grid-column: 1/2;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.coe2 {
    padding: 5px 5px;
    grid-area: coe2;
    grid-column: 2/3;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.coe3 {
    padding: 5px 5px;
    grid-area: coe3;
    grid-column: 3/4;
    width: 100%;
    height: 500px;
    object-fit: cover;
}




.textoContac{
    background-color: $color1;
    border: 1ex solid none;
    border-top-width: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
    color: $color1;
    outline: 7px solid $color1;
    height: 50px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    transition: all 1s;
    font-weight: bold;
    &:hover {
        border-top-width: 0.2em;
        background-color: $color3;
    }
    &:focus {
        border-top-width: 0.2em;
        background-color: $color3;
    }
}
                                                        //Fin pagina Contactanos



                                                        //Pagina Informaci贸n
#info{
    border-bottom: $borde_abajo;
}


.containerInfo{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;

    grid-template-areas:
    "imagenesinfo imagenesinfo imagenesinfo"
    "skill1 skill2 skill3"
    "skill4 skill5 skill6";

    grid-gap: 20px;
    padding: 10px
}



.imagenesinfo{
    grid-area: imagenesinfo;
    object-fit: cover;
}

.skill1{
    grid-area: skill1;
}
.skill2{
    grid-area: skill2;
}
.skill3{
    grid-area: skill3;
}
.skill4{
    grid-area: skill4;
}
.skill5{
    grid-area: skill5;
}
.skill6{
    grid-area: skill6;
}


.cuerpoCarta{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.carta{
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    transition: width 2s, background-color 1s, box-shadow 1s;
    border-radius: 20px;
    background-color: $color4;
    color: $color3;
    &:hover{
    color: $color4;
    box-shadow: 0 8px 8px 0 $color4;
    background-color: $color3;}
}
.textoArriba{
    font-size: 25px;
}
.textoAbajo{
    font-size: 18px;
}


.equipo, .galaxia, .equipo2{
    width: 100%;
    height: 500px;
}
                                                        //Fin pagina Informaci贸n



                                                        //Pagina equipo
#equipo{
        border-bottom: $borde_abajo;
}

#facu img{
    width: 90%;
    height: 500px;
    object-fit: cover;
    padding-top: 20px;
    border-radius: 50px;
    &:hover{
        scale: 0.9;
        transition: all .9s
    }
}
.nright{
    h2{
        text-align: center;
        font-weight: bold;
        margin-top: 50px;
        font-size: 35px;
    }
    h3{
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 30px;
    }
        p{
            text-align: left;
            font-size: 18px;
        }
        p::first-letter{
            font-size: 25px;
        }
}
.team1{
    margin-top: 20px;
    margin-bottom: 100px;
}



#mica img{
    width: 90%;
    height: 500px;
    object-fit: cover;
    padding-top: 20px;
    border-radius: 50px;
    &:hover{
        scale: 0.9;
        transition: all .9s
    }
}
.team2{
    margin-top: 20px;
    margin-bottom: 60px;
}





.linkedin img{
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        transition: 1.5s;
    }
    &:active{
        scale: 0.8;
        transition: all .8s
    }
} 
                                                        //Fin pagina equipo



                                                        //Pagina historia
#historia{
    border-bottom: $borde_abajo;
}

.historia{
    h1{
    font-family: $font;
    font-size: 50px;
    text-align: center;
    }
        p{
            font-family: $font;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
        p::first-letter {
            font-size: 20px;
        }
}



            //Fotos
#logostipos{
    display: flex;
    margin: 30px;
}
.logos {
    padding: 0px 0px 0px 25px;
    width: 280px;
    height: 140px;
}
.rectangulo {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
    height: 225px;
    border-color: $color4;
    border-width: 1px;
    box-shadow: 0 4px 8px $color2;
    border-radius: 10px;
    text-align: left;
} 

.texto1 {
    font-family: $font;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.texto2 {
    font-family: $font;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 15px;
    text-align: left;
}
            //Fin fotos


.frasesMotivacionales{
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    &::first-letter{
        font-size: 20px;
    }
}
                                                        //Fin pagina historia



                                                        //Pagina servicios
#servi{
    border-bottom: $borde_abajo;
}

.a_que_planeta{
    h1{
    font-size: 40px;
    text-align: center;
    }
        p {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
}



.descuento {
    height: 40px;
    padding: 10px;
    margin: 20px;
    background: $color1;
    color: $color3;
    border-color: $color4;
    border-width: 2px;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}




.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.card-container{
    margin: 0 auto;
}

.masVendido{
    width: 95%;
    transition: all 0.3s ease;
    text-transform: uppercase;
    background-color: $color4;
    color: $color3;
    box-shadow: 0 5px 10px $color4;
    border-radius: 10px;
    &:hover{
    box-shadow: 0 20px 20px  $color4
    }
}

.c-card{
    width: 400px;
    transition: all 0.3s ease;
    text-align: left;
    box-shadow: 0 6px 10px -5px $color4;
    &:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 20px -15px $color4
    }

    &__header{
        height: 100%;
    }

    &__image{
        width: 100%
    }

    &__body{
        padding: 20px;
        background-color: $color3;
    }
    
    &__title{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-transform: uppercase
    }

    &__subtitle{
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
        padding: 0
    }

    &__intro{
        font-size: 15px;
        font-weight: bold
    }

    &__footer{
        background-color: $color3;
    }
}

.c-card--center{
    text-align: center;
}
                                                        //Fin pagina servicios



                                                        //Pagina NO
h1 {
    font-size: 35px;
    text-align: center;
}


.comentarioNO{
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    &::first-letter{
        font-size: 25px;
    }
}

.textoNO{
    background-color: $color1;
    border: 1ex solid none;
    border-top-width: 170px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
    color: $color1;
    outline: 7px solid $color1;
    height: 200px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    transition: all 1s;
    font-weight: bold;
}
.textoNO:hover {
    border-top-width: 0.2em;
    background-color: $color3;
}
.textoNO:focus {
    border-top-width: 0.2em;
    background-color: $color3;
}



.grangalaxia{
    img{
    height: 300px;
    width: 100%;
    padding: 5px;
    }
    img:hover{
        filter: grayscale(100%);
        cursor: cell;
        transform: scale(0.9);
        transition: 1.1s;
    }
} 
                                                        //Fin pagina NO



                                                        //Voy a este planeta
h2 {
    font-size: 25px;
}

.whatsapp{
    width: 90%;
    height: 390px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    &:hover{
        height: 390px;
        padding: 10px;
        opacity: 1;
        filter: contrast(120%);
        transition: all .7s;
    }
}


.imagenes{
    display: flex;
    width: 100%;
    height: 500px;
    img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    img:active{
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
    img:hover{
        cursor: crosshair;
        opacity: 1;
        filter: contrast(120%);
    }
}
                                                        //Fin voy a este planeta



                                                        //Blog
    #blog{
    border-bottom: $borde_abajo;
}


.title{
    h1{
    text-align: center;
    font-size: 24px;
    }
    h2{
    text-align: center;
    font-size: 18px;
    }
}




.containerBlog{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "subidas podcast"
        "subidas articulo1"
        "subidas articulo2"
        "subidas articulo3";
    grid-gap: 20px;
    margin: 20px;
}

.podcast{
    grid-area: podcast;
    text-align: center;
    width: 100%;
    padding: 10px;
    background: $color3;
    box-shadow: 0 4px 8px $color2;
    border-radius: 10px;
    h3{
        font-size: 30px;
        font-weight: bold;
    }
    p{
        margin: 10px;
    }
    a{
        color: $color4;
        font-weight: bold;
    }
}
.spot{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    &:hover{
        transform: scale(.9);
        transition: all 1.2s;
    }
}


.subidas{
    grid-area: subidas;
    text-align: center;
    padding: 10px;
    color: $color3;
    background-color: $color4;
    box-shadow: 0 4px 8px $color2;
    border-radius: 10px;
    h3{
        font-size: 30px;
        font-weight: bold;
    }
    p{
        padding: 20px;
    }
    a{
        color: $color3;
        text-decoration: none;
    }
}


.articulo1{
    grid-area: articulo1;
}
.articulo2{
    grid-area: articulo2;
}
.articulo3{
    grid-area: articulo3;
}



            //Articulos
.blog-card{
    width: 100%;
    box-shadow: 0 4px 8px $color2;
    background: $color3;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0;


    .foto-blog img{
        width: 100%;
        height: 300px;
        &:hover{
            transform: scale(1.2) rotate(2deg);
            transition: all 2s;
        }
    }

    .descripcion{
        padding: 20px;
        background: $color3;
        position: relative;
        h2{
            line-height: 1;
            margin: 0;
            font-size: 30px;
        }
    }
        
    .texto-blog{
        position: relative;
        text-align: left;
        margin-top: 10px;
        font-size: 18px;
        &::first-letter{
            font-size: 30px;
        }
    }
}   
            //Fin articulos
                                                        //Fin blog



                                                        //Leer_articulo
.seccion1{
    text-align: center;
    margin: 30px;
    &::first-letter{
        font-size: 40px;
    }
}

.fecha{
    text-align: left;
}

.fotoarticul{
    width: 100%;
    height: 300px;
}

.seccion2{
    text-align: center;
    margin: 30px;
    &::first-letter{
        font-size: 40px;
    }
}

article{
    margin-bottom: 200px;
}
                                                        //Fin leer_articulo














                                                        //Version Mobile
@media (max-width: 750px){

                                                        //Pagina servicios
.flex-container {
    display: flex;
    flex-direction: column;
}

.c-card{
    width: 300px;
}
                                                        //Fin pagina servicios




                                                        //Pagina informaci贸n
.RedesSociales{
    display: block;
    margin: 0 auto;
    padding: 10px;
}
}
                                                        //Fin pagina informaci贸n




                                                        //Pagina contacto
.coe1 {
    width: 100%;
    height: 250px;
}

.coe2 {
    width: 100%;
    height: 250px;
}

.coe3 {
    width: 100%;
    height: 250px;
}
                                                        //Fin pagina contacto







@media (min-width: 450px) and (max-width: 750px){
                                                            //Pagina servicios
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    
    .c-card{
        width: 400px;
    }
                                                            //Fin pagina servicios
}














@media (max-width: 600px){
                                                            //Pagina blog
    .containerBlog{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "subidas"
            "podcast"
            "articulo1"
            "articulo2"
            "articulo3";
        grid-gap: 20px;
        margin: 20px;
    }

                                                            //Fin pagina blog
}











@import "_menu";
@import"_pieDePagina";
@import "_progressBarra";
@import "_botones";
@import "_botonSubir";