@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9e5e5;
  background-image: linear-gradient(123deg, #e9e5e5 70%, #1a1a1a);
  color: #444444;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  margin: 10px;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

h2 {
  margin: 10px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

#home {
  border-bottom: 3px solid #e9e5e5;
}

.si-no {
  width: 35%;
  background: #e9e5e5;
  color: #1a1a1a;
  border-style: solid;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
}

#estas {
  text-align: center;
}

p {
  font-size: 15px;
}

#estas {
  background-image: url(../Imagenes/cohete\ 2.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  margin-bottom: 0;
  border-radius: 0;
  text-shadow: 0 0 10px #1a1a1a;
  color: #e9e5e5;
}

.quienesSomos {
  position: relative;
  width: 88%;
  height: 300px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.quienesSomos img:first-child {
  box-shadow: 0 60px 60px -60px #000;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

.quienesSomos img:last-child {
  position: absolute;
  width: 74%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(25%);
  transition: 0.3s ease;
  opacity: 0;
}

.quienesSomos:hover {
  transform: perspective(250px) rotatex(10deg) translateY(-5%) translateZ(0);
}

.quienesSomos::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 95%);
  opacity: 0;
  transition: all 0.3s ease;
}

.quienesSomos:hover::before {
  border-radius: 20px;
  opacity: 1;
}

.quienesSomos:hover img:last-child {
  width: 100%;
  opacity: 1;
  transform: translateY(10%);
}

.marquee {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  overflow: hidden;
}

.marquee li img {
  width: 400px;
  margin: 5px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 40s linear infinite;
}

.marquee__item img {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-270%);
  }
}
#contact {
  border-bottom: 3px solid #e9e5e5;
}

strong {
  font-size: 20px;
}

#grillacontac {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "formContac formContac  formContac" "coe1   coe2    coe3";
  grid-gap: 10px;
  padding: 10px;
}

.formContac {
  grid-area: formContac;
  grid-column: 1/4;
  width: 100%;
}

.coe1 {
  padding: 5px 5px;
  grid-area: coe1;
  grid-column: 1/2;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.coe2 {
  padding: 5px 5px;
  grid-area: coe2;
  grid-column: 2/3;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.coe3 {
  padding: 5px 5px;
  grid-area: coe3;
  grid-column: 3/4;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.textoContac {
  background-color: #444444;
  border: 1ex solid none;
  border-top-width: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
  color: #444444;
  outline: 7px solid #444444;
  height: 50px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  transition: all 1s;
  font-weight: bold;
}
.textoContac:hover {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}
.textoContac:focus {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}

#info {
  border-bottom: 3px solid #e9e5e5;
}

.containerInfo {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "imagenesinfo imagenesinfo imagenesinfo" "skill1 skill2 skill3" "skill4 skill5 skill6";
  grid-gap: 20px;
  padding: 10px;
}

.imagenesinfo {
  grid-area: imagenesinfo;
  -o-object-fit: cover;
     object-fit: cover;
}

.skill1 {
  grid-area: skill1;
}

.skill2 {
  grid-area: skill2;
}

.skill3 {
  grid-area: skill3;
}

.skill4 {
  grid-area: skill4;
}

.skill5 {
  grid-area: skill5;
}

.skill6 {
  grid-area: skill6;
}

.cuerpoCarta {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.carta {
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  transition: width 2s, background-color 1s, box-shadow 1s;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: #e9e5e5;
}
.carta:hover {
  color: #1a1a1a;
  box-shadow: 0 8px 8px 0 #1a1a1a;
  background-color: #e9e5e5;
}

.textoArriba {
  font-size: 25px;
}

.textoAbajo {
  font-size: 18px;
}

.equipo, .galaxia, .equipo2 {
  width: 100%;
  height: 500px;
}

#equipo {
  border-bottom: 3px solid #e9e5e5;
}

#facu img {
  width: 90%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 20px;
  border-radius: 50px;
}
#facu img:hover {
  scale: 0.9;
  transition: all 0.9s;
}

.nright h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  font-size: 35px;
}
.nright h3 {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}
.nright p {
  text-align: left;
  font-size: 18px;
}
.nright p::first-letter {
  font-size: 25px;
}

.team1 {
  margin-top: 20px;
  margin-bottom: 100px;
}

#mica img {
  width: 90%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 20px;
  border-radius: 50px;
}
#mica img:hover {
  scale: 0.9;
  transition: all 0.9s;
}

.team2 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.linkedin img {
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.linkedin img:hover {
  cursor: pointer;
  transition: 1.5s;
}
.linkedin img:active {
  scale: 0.8;
  transition: all 0.8s;
}

#historia {
  border-bottom: 3px solid #e9e5e5;
}

.historia h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;
  text-align: center;
}
.historia p {
  font-family: "Space Grotesk", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.historia p::first-letter {
  font-size: 20px;
}

#logostipos {
  display: flex;
  margin: 30px;
}

.logos {
  padding: 0px 0px 0px 25px;
  width: 280px;
  height: 140px;
}

.rectangulo {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  height: 225px;
  border-color: #1a1a1a;
  border-width: 1px;
  box-shadow: 0 4px 8px #202020;
  border-radius: 10px;
  text-align: left;
}

.texto1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.texto2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 25px;
  font-size: 15px;
  text-align: left;
}

.frasesMotivacionales {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}
.frasesMotivacionales::first-letter {
  font-size: 20px;
}

#servi {
  border-bottom: 3px solid #e9e5e5;
}

.a_que_planeta h1 {
  font-size: 40px;
  text-align: center;
}
.a_que_planeta p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.descuento {
  height: 40px;
  padding: 10px;
  margin: 20px;
  background: #444444;
  color: #e9e5e5;
  border-color: #1a1a1a;
  border-width: 2px;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin: 0 auto;
}

.masVendido {
  width: 95%;
  transition: all 0.3s ease;
  text-transform: uppercase;
  background-color: #1a1a1a;
  color: #e9e5e5;
  box-shadow: 0 5px 10px #1a1a1a;
  border-radius: 10px;
}
.masVendido:hover {
  box-shadow: 0 20px 20px #1a1a1a;
}

.c-card {
  width: 400px;
  transition: all 0.3s ease;
  text-align: left;
  box-shadow: 0 6px 10px -5px #1a1a1a;
}
.c-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 20px -15px #1a1a1a;
}
.c-card__header {
  height: 100%;
}
.c-card__image {
  width: 100%;
}
.c-card__body {
  padding: 20px;
  background-color: #e9e5e5;
}
.c-card__title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.c-card__subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  padding: 0;
}
.c-card__intro {
  font-size: 15px;
  font-weight: bold;
}
.c-card__footer {
  background-color: #e9e5e5;
}

.c-card--center {
  text-align: center;
}

h1 {
  font-size: 35px;
  text-align: center;
}

.comentarioNO {
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
.comentarioNO::first-letter {
  font-size: 25px;
}

.textoNO {
  background-color: #444444;
  border: 1ex solid none;
  border-top-width: 170px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
  color: #444444;
  outline: 7px solid #444444;
  height: 200px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  transition: all 1s;
  font-weight: bold;
}

.textoNO:hover {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}

.textoNO:focus {
  border-top-width: 0.2em;
  background-color: #e9e5e5;
}

.grangalaxia img {
  height: 300px;
  width: 100%;
  padding: 5px;
}
.grangalaxia img:hover {
  filter: grayscale(100%);
  cursor: cell;
  transform: scale(0.9);
  transition: 1.1s;
}

h2 {
  font-size: 25px;
}

.whatsapp {
  width: 90%;
  height: 390px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.whatsapp:hover {
  height: 390px;
  padding: 10px;
  opacity: 1;
  filter: contrast(120%);
  transition: all 0.7s;
}

.imagenes {
  display: flex;
  width: 100%;
  height: 500px;
}
.imagenes img {
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.imagenes img:active {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
.imagenes img:hover {
  cursor: crosshair;
  opacity: 1;
  filter: contrast(120%);
}

#blog {
  border-bottom: 3px solid #e9e5e5;
}

.title h1 {
  text-align: center;
  font-size: 24px;
}
.title h2 {
  text-align: center;
  font-size: 18px;
}

.containerBlog {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "subidas podcast" "subidas articulo1" "subidas articulo2" "subidas articulo3";
  grid-gap: 20px;
  margin: 20px;
}

.podcast {
  grid-area: podcast;
  text-align: center;
  width: 100%;
  padding: 10px;
  background: #e9e5e5;
  box-shadow: 0 4px 8px #202020;
  border-radius: 10px;
}
.podcast h3 {
  font-size: 30px;
  font-weight: bold;
}
.podcast p {
  margin: 10px;
}
.podcast a {
  color: #1a1a1a;
  font-weight: bold;
}

.spot {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.spot:hover {
  transform: scale(0.9);
  transition: all 1.2s;
}

.subidas {
  grid-area: subidas;
  text-align: center;
  padding: 10px;
  color: #e9e5e5;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px #202020;
  border-radius: 10px;
}
.subidas h3 {
  font-size: 30px;
  font-weight: bold;
}
.subidas p {
  padding: 20px;
}
.subidas a {
  color: #e9e5e5;
  text-decoration: none;
}

.articulo1 {
  grid-area: articulo1;
}

.articulo2 {
  grid-area: articulo2;
}

.articulo3 {
  grid-area: articulo3;
}

.blog-card {
  width: 100%;
  box-shadow: 0 4px 8px #202020;
  background: #e9e5e5;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0;
}
.blog-card .foto-blog img {
  width: 100%;
  height: 300px;
}
.blog-card .foto-blog img:hover {
  transform: scale(1.2) rotate(2deg);
  transition: all 2s;
}
.blog-card .descripcion {
  padding: 20px;
  background: #e9e5e5;
  position: relative;
}
.blog-card .descripcion h2 {
  line-height: 1;
  margin: 0;
  font-size: 30px;
}
.blog-card .texto-blog {
  position: relative;
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
}
.blog-card .texto-blog::first-letter {
  font-size: 30px;
}

.seccion1 {
  text-align: center;
  margin: 30px;
}
.seccion1::first-letter {
  font-size: 40px;
}

.fecha {
  text-align: left;
}

.fotoarticul {
  width: 100%;
  height: 300px;
}

.seccion2 {
  text-align: center;
  margin: 30px;
}
.seccion2::first-letter {
  font-size: 40px;
}

article {
  margin-bottom: 200px;
}

@media (max-width: 750px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .c-card {
    width: 300px;
  }
  .RedesSociales {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
}
.coe1 {
  width: 100%;
  height: 250px;
}

.coe2 {
  width: 100%;
  height: 250px;
}

.coe3 {
  width: 100%;
  height: 250px;
}

@media (min-width: 450px) and (max-width: 750px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .c-card {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .containerBlog {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "subidas" "podcast" "articulo1" "articulo2" "articulo3";
    grid-gap: 20px;
    margin: 20px;
  }
}
.logo {
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}
.logo:hover {
  cursor: pointer;
  border-radius: 20px;
  transition: 1.5s;
}
.logo:active {
  scale: 0.8;
  transition: all 0.8s;
}

.barraNav {
  justify-content: end;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #1a1a1a;
}

.efecto:active {
  scale: 0.8;
  transition: all 0.8s;
}

.underline-linea::after {
  margin: auto;
  content: "";
  height: 3px;
  width: 0;
  background-color: #e9e5e5;
  display: block;
  transition: all 0.5s;
}

.underline-linea:hover::after {
  width: 80%;
}

.containerFooter {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "fotoFooter redesFooter serviciosFooter" "fotoFooter redesFooter serviciosFooter" "copyrightFooter copyrightFooter copyrightFooter";
  padding: 20px;
  background-color: #1a1a1a;
  color: #e9e5e5;
}

.fotoFooter {
  grid-area: fotoFooter;
  padding-top: 40px;
  padding-left: 80px;
  border-radius: 90px;
}

.puertoFooter {
  font-size: 20px;
  font-weight: 500;
}

.redesFooter {
  grid-area: redesFooter;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#tiktok img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}
#tiktok:hover {
  transform: scale(0.9);
  transition: 1.1s;
}

#ig img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}
#ig:hover {
  transform: scale(0.9);
  transition: 1.1s;
}

#fb img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#fb:hover {
  transform: scale(0.9);
  transition: 1.1s;
}

.serviciosFooter {
  text-align: center;
}
.serviciosFooter h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.serviciosFooter h2::first-letter {
  font-size: 40px;
}
.serviciosFooter a {
  color: #e9e5e5;
  text-decoration: none;
}
.serviciosFooter li {
  font-size: 15px;
  padding: 5px;
}

.copyrightFooter {
  grid-area: copyrightFooter;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 900px) {
  .containerFooter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "fotoFooter redesFooter" "fotoFooter redesFooter" "fotoFooter serviciosFooter" "copyrightFooter copyrightFooter";
    grid-gap: 40px;
    background-color: #1a1a1a;
    color: #e9e5e5;
  }
  .fotoFooter {
    grid-area: fotoFooter;
    padding-top: 0px;
    padding-left: 30px;
    border-radius: 90px;
  }
}
@media (max-width: 600px) {
  .containerFooter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "fotoFooter" "redesFooter" "serviciosFooter" "copyrightFooter";
    grid-gap: 40px;
    background-color: #1a1a1a;
    color: #e9e5e5;
  }
  .fotoFooter {
    grid-area: fotoFooter;
    padding-top: 0px;
    padding-left: 30px;
    border-radius: 90px;
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #444444;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #444444;
}

.progress-bar {
  height: 5px;
  background: rgb(0, 0, 0);
  width: 0%;
}

input[type=submit] {
  background-image: linear-gradient(to right, #1a1a1a 0%, #434343 51%, #1a1a1a 100%);
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #e9e5e5;
  box-shadow: 0 0 20px #e9e5e5;
  border-radius: 10px;
}
input[type=submit]:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transition: all 0.9s;
}
input[type=submit]:active {
  scale: 0.8;
  transition: all 0.8s;
}

.up img {
  height: 42px;
  width: 30px;
  position: fixed;
  bottom: 50px;
  right: 20px;
}
.up :active {
  scale: 0.8;
  transition: all 0.2s;
}/*# sourceMappingURL=estilos.css.map */